.container {
  width: 200px;
  height: 200px;
  display: inline-flex;
  background-color: aqua;
}

.container2 {
  width: 200px;
  background-color: blueviolet;
}

.child {
  display: inline-flex;
  width: 150px;
  height: auto;
  background-color: brown;
}
